GraphQL/Projects/ecomm-app-graphql/node_modules
GraphQL/Projects/order_project_II/node_modules
GraphQL/Projects/project_mgmt_project/node_modules
GraphQL/Projects/project_mgmt_project/.env
GraphQL/Projects/project_mgmt_project_II/server/node_modules
GraphQL/Projects/project_mgmt_project_II/.env
GraphQL/Projects/project_mgmt_project_III/server/node_modules
GraphQL/Projects/project_mgmt_project_III/.env